<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>patients</title>
</head>
<body>
<a href="/appointments">back</a>
<form action="/appointments/add" method="post">
 date time:  <input type="datetime-local" name="dateTime"><br>
  doctor:  <select name="doctor.id">
        <option th:each="doctor : ${doctors}"
                th:text="${doctor.name}" th:value="${doctor.id}"></option>
    </select><br>
    patient:<select name="patient.id">
    <option th:each="patient : ${patients}"
            th:text="${patient.name}" th:value="${patient.id}"></option>
</select><br>
<input type="submit" value="create">
</form>
</body>
</html>