<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>doctors</title>
</head>
<body>
<a href="/doctors">back</a>
<form action="/doctors/add" method="post" enctype="multipart/form-data">
 name:  <input type="text" name="name"><br>
 surname:  <input type="text" name="surname"><br>
 email:  <input type="text" name="email"><br>
  specialty: <input type="text" name="specialty"><br>
 image:  <input type="file" name="profilePicture"><br>
<input type="submit" value="create">
</form>
</body>
</html>