<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>appointments</title>
</head>
<body>
<a href="/">back</a>
<h1>Appointments</h1>
<a href="/appointments/add" >create appointment</a><br>
<table border="1px">
  <tr>
    <th>id</th>
    <th>date time</th>
    <th>patient name</th>
    <th>doctor name</th>
      <th>action</th>
  </tr>
  <tr th:each="appointment : ${appointments}">
    <td th:text="${appointment.id}"></td>
    <td th:text="${#dates.format(appointment.dateTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
    <td th:if="${appointment.doctor != null}" th:text="${appointment.doctor.name}"></td>
    <td th:if="${appointment.patient != null}" th:text="${appointment.patient.name}"></td>
    <td><a th:href="@{/appointments/remove(id=${appointment.id})}">Remove</a></td>
  </tr>
</table>
</body>
</html>