<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>doctors</title>
</head>
<body>
<a href="/">back</a>
<h1>Doctors</h1>
<a href="/doctors/add" >Create doctor</a><br>
<table border="1px">
  <tr>
    <th>profilePic</th>
    <th>id</th>
    <th>name</th>
    <th>surname</th>
    <th>email</th>
    <th>specialty</th>
    <th>action</th>
  </tr>
  <tr th:each="doctor : ${doctors}">
   <td> <img th:if="${doctor.profilePic != null}" th:src="@{/getImage(image=${doctor.profilePic})}" width="100"/></td>
    <td th:text="${doctor.id}"></td>
    <td th:text="${doctor.name}"></td>
    <td th:text="${doctor.surname}"></td>
    <td th:text="${doctor.email}"></td>
    <td th:text="${doctor.specialty}"></td>
    <td><a th:href="@{/doctors/remove(id=${doctor.id})}">Remove</a></td>
  </tr>
</table>
</body>
</html>