<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url("/css/img/stethoscope-heart-digital-cut-file-nurse-life-and-clip-art-vector.jpg");
            background-position: center;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<h1><a href="/doctors">Doctors</a></h1>
<h1><a href="/patients">Patients</a></h1>
<h1><a href="/appointments">Appointments</a></h1>
</body>
</html>